<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--获取数据分页的大小-->
    <add key="pageSize" value="50"/>
    <!-- 单次请求等待时间（毫秒）-->
    <add key="SleepTime" value="500"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
